@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  @font-face {
    font-family: "'Open Sans', sans-serif";
    src: url("/public/fonts/OpenSans-Regular.ttf") format("ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "'Open Sans', sans-serif";
    src: url("/public/fonts/OpenSans-Bold.ttf") format("ttf");
    font-weight: 700;
  }

  /* modify text elements because of repetition */
  h1 {
    /* 48px */
    @apply text-[38px] leading-[52px] sm:text-[48px] sm:leading-[62px] text-blueColor font-bold
  }

  h2 {
    /* 44px */
    @apply text-[29px] xxs:text-[33px] leading-[40px] lg:text-[44px] lg:leading-[57px] font-bold text-blueColor
  }

  h3 {
    /* 36px */
    @apply text-[27px] xxs:text-[33px] leading-[40px] sm:text-[36px] lg:leading-[57px] font-bold text-blueColor
  }
  h4{
    /* 24px */
    @apply text-[16px] leading-[21px] xxs:text-[20px] xxs:leading-[28px] lg:text-[24px] lg:leading-[31px] text-darkColor
  }
  h5{
    /* 22px */
    @apply text-[18px] sm:text-[22px] leading-[33px]
  }
  h6 {
    /* 18px */
    @apply text-[18px]
  }
  p {
    /* 16px */
    @apply text-[16px] leading-[27px] text-grayColor
  }
}

@layer components {
  .main-container {
    @apply max-w-[1108px] mx-auto px-[20px]
  }
  .red-button {
    @apply  text-[14px] md:text-[16px] py-[10px] px-[20px] sm:py-[14px] sm:px-[32px] bg-redColor hover:bg-[#b31638]  transition-all text-white rounded-[6px]
  }
  .outline-button {
    @apply text-[14px] md:text-[16px] py-[10px] px-[20px] sm:py-[14px] sm:px-[32px] border border-redColor hover:bg-[#b31638] text-redColor hover:text-white   transition-all rounded-[6px]
  }
}

body {
  font-family: 'Open Sans', sans-serif;
}

